html,
body {
  height: 100%;
  margin: 0;
}

nav,
footer {
  background-color: #152238 !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #23395d;
}

.main-content {
  flex: 1;
}

h2,
h3 {
  color: lightgray;
}

.footer,
.navbar {
  color: #f8f9fa;
}

.devicon-linkedin-plain,
.devicon-github-original {
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
}

.devicon-linkedin-plain:hover,
.devicon-github-original:hover {
  color: white;
}

.link-anchor {
  color: gray;
  text-decoration: none;
}

.nav-link.active {
  color: #08f26e !important;
}

.devi-index {
  font-size: 3rem;
  color: #08f26e;
}

hr {
  color: #08f26e;
  height: 4px;
  width: 75%;
}

.created-with {
  color: lightgray;
}
